{
  "extends": "react-app",

  "rules": {
    "no-var": "error",
    "semi": "error", // storaketneri hamar
    "no-multi-spaces": "error",
    "prefer-const": "error",
    "indent": ["error", 2],
    "space-infix-ops": "error",
    "no-whitespace-before-property": "error",
    "array-bracket-spacing": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }]
  }
}