{
  "extends": "react-app",

  "rules": {
    "no-var": "error",
    "semi": "warning", // storaketneri hamar
    "no-multi-spaces": "error",
    "prefer-const": "error",
    "indent": ["error", 2]
  }

}