.day-content{
  border-style:solid;
  max-width: 200px;
  margin: 10px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  margin: auto;
}

.contain{
   display:flex;
   justify-content:center;
   margin: 20px;
}

.one-hour{
  text-align: center;
}

.city-name{
  text-align: center;
}

.select-box{
  border-radius: 2px;
  border: 2px solid #73AD21;
  display:block;
  margin: 10px auto;
}

.location{
  margin-left:  80px;
  border-radius: 2px;
  border: 2px solid #73AD21;
  padding: 5px;
}
.one-weekday{
  border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 17px;
  cursor: pointer;
  margin: 10px;
}

.weather-icon{
  width:40px
}